
<div class='container' style="width: 1000px;">
   <div class="col-md-1"><%= image_tag("logo.png") %></div>
</div>

<div class='container' style="width: 900px; padding-bottom: 10px;">
   <div class="col-md-5 bg-warning"><h6>Номер, чтобы сделать заказ - 8 707 101 1009</h6></div>
   <div class="col-md-5 bg-warning"><h6>Номер, чтобы узнать когда привезут - 8 707 101 1009</h6></div>
</div>

<div class='container' style="width: 900px;">
<div class="row bg-warning" style="padding-top: 10px;">
  <div class="col-md-2"><h6>шашлык из баранины</h6></div>
  <div class="col-md-1"><h6>маленький контейнер</h6></div>
  <div class="col-md-1"><h6>средний контейнер</h6></div>
  <div class="col-md-1"><h6>большой контейнер</h6></div>
  <div class="col-md-1"><h6></h6></div>
  <div class="col-md-1"><h6>Coca-Cola 1 литр</h6></div>
  <div class="col-md-1"><h6>Sprite 1 литр</h6></div>
  <div class="col-md-1"><h6>Fanta 1 литр</h6></div>
  <div class="col-md-1"><h6>Тархун 1 литр</h6></div>
  <div class="col-md-1"><h6>Буратино 1 литр</h6></div>
</div>
<div class="row bg-warning">
	  <div class="col-md-2"><h6>позвоните, чтобы заказать</h6></div>
	  <div class="col-md-1"><h6>500 тенге</h6></div>
	  <div class="col-md-1"><h6>700 тенге</h6></div>
	  <div class="col-md-1"><h6>900 тенге</h6></div>
	  <div class="col-md-1"><h6></h6></div>
	  <div class="col-md-1"><h6>150 тенге</h6></div>
	  <div class="col-md-1"><h6>150 тенге</h6></div>
	  <div class="col-md-1"><h6>150 тенге</h6></div>
	  <div class="col-md-1"><h6>150 тенге</h6></div>
	  <div class="col-md-1"><h6>150 тенге</h6></div>
</div>
<div class="row bg-warning">
	  <div class="col-md-2"></div>
	  <div class="col-md-1"><%= image_tag("quan.png") %></div>
	  <div class="col-md-1"><%= image_tag("quan2.png") %></div>
	  <div class="col-md-1"><%= image_tag("quan5.png") %></div>
	  <div class="col-md-1"><h6></h6></div>
	  <div class="col-md-1"><h6><%= image_tag("cola.png") %></h6></div>
	  <div class="col-md-1"><h6><%= image_tag("sprite.png") %></h6></div>
	  <div class="col-md-1"><h6><%= image_tag("fanta.png") %></h6></div>
	  <div class="col-md-1"><h6><%= image_tag("tarhun.png") %></h6></div>
	  <div class="col-md-1"><h6><%= image_tag("buratino.png") %></h6></div>
</div>

<div class="row" style="padding-top: 10px;">
  <div class="col-md-2"><h6>шашлык из курицы</h6></div>
  <div class="col-md-1"><h6>маленький контейнер</h6></div>
  <div class="col-md-1"><h6>средний контейнер</h6></div>
  <div class="col-md-1"><h6>большой контейнер</h6></div>
  <div class="col-md-1"><h6></h6></div>
  <div class="col-md-1"><h6>Coca-Cola 1 литр</h6></div>
  <div class="col-md-1"><h6>Sprite 1 литр</h6></div>
  <div class="col-md-1"><h6>Fanta 1 литр</h6></div>
  <div class="col-md-1"><h6>Тархун 1 литр</h6></div>
  <div class="col-md-1"><h6>Буратино 1 литр</h6></div>
</div>
<div class="row">
	  <div class="col-md-2"><h6>позвоните, чтобы заказать</h6></div>
	  <div class="col-md-1"><h6>500 тенге</h6></div>
	  <div class="col-md-1"><h6>700 тенге</h6></div>
	  <div class="col-md-1"><h6>900 тенге</h6></div>
	  <div class="col-md-1"><h6></h6></div>
	  <div class="col-md-1"><h6>150 тенге</h6></div>
	  <div class="col-md-1"><h6>150 тенге</h6></div>
	  <div class="col-md-1"><h6>150 тенге</h6></div>
	  <div class="col-md-1"><h6>150 тенге</h6></div>
	  <div class="col-md-1"><h6>150 тенге</h6></div>
</div>
<div class="row">
	  <div class="col-md-2"></div>
	  <div class="col-md-1"><%= image_tag("quan.png") %></div>
	  <div class="col-md-1"><%= image_tag("quan2.png") %></div>
	  <div class="col-md-1"><%= image_tag("quan5.png") %></div>
	  <div class="col-md-1"><h6></h6></div>
	  <div class="col-md-1"><h6><%= image_tag("cola.png") %></h6></div>
	  <div class="col-md-1"><h6><%= image_tag("sprite.png") %></h6></div>
	  <div class="col-md-1"><h6><%= image_tag("fanta.png") %></h6></div>
	  <div class="col-md-1"><h6><%= image_tag("tarhun.png") %></h6></div>
	  <div class="col-md-1"><h6><%= image_tag("buratino.png") %></h6></div>
</div>


<div class="row bg-warning" style="padding-top: 10px;">
  <div class="col-md-2"><h6>шашлык из утки</h6></div>
  <div class="col-md-1"><h6>маленький контейнер</h6></div>
  <div class="col-md-1"><h6>средний контейнер</h6></div>
  <div class="col-md-1"><h6>большой контейнер</h6></div>
  <div class="col-md-1"><h6></h6></div>
  <div class="col-md-1"><h6>Coca-Cola 1 литр</h6></div>
  <div class="col-md-1"><h6>Sprite 1 литр</h6></div>
  <div class="col-md-1"><h6>Fanta 1 литр</h6></div>
  <div class="col-md-1"><h6>Тархун 1 литр</h6></div>
  <div class="col-md-1"><h6>Буратино 1 литр</h6></div>
</div>
<div class="row bg-warning">
	  <div class="col-md-2"><h6>позвоните, чтобы заказать</h6></div>
	  <div class="col-md-1"><h6>500 тенге</h6></div>
	  <div class="col-md-1"><h6>700 тенге</h6></div>
	  <div class="col-md-1"><h6>900 тенге</h6></div>
	  <div class="col-md-1"><h6></h6></div>
	  <div class="col-md-1"><h6>150 тенге</h6></div>
	  <div class="col-md-1"><h6>150 тенге</h6></div>
	  <div class="col-md-1"><h6>150 тенге</h6></div>
	  <div class="col-md-1"><h6>150 тенге</h6></div>
	  <div class="col-md-1"><h6>150 тенге</h6></div>
</div>
<div class="row bg-warning">
	  <div class="col-md-2"></div>
	  <div class="col-md-1"><%= image_tag("quan.png") %></div>
	  <div class="col-md-1"><%= image_tag("quan2.png") %></div>
	  <div class="col-md-1"><%= image_tag("quan5.png") %></div>
	  <div class="col-md-1"><h6></h6></div>
	  <div class="col-md-1"><h6><%= image_tag("cola.png") %></h6></div>
	  <div class="col-md-1"><h6><%= image_tag("sprite.png") %></h6></div>
	  <div class="col-md-1"><h6><%= image_tag("fanta.png") %></h6></div>
	  <div class="col-md-1"><h6><%= image_tag("tarhun.png") %></h6></div>
	  <div class="col-md-1"><h6><%= image_tag("buratino.png") %></h6></div>
</div>


<div class="row" style="padding-top: 10px;">
  <div class="col-md-2"><h6>шашлык из овощей</h6></div>
  <div class="col-md-1"><h6>маленький контейнер</h6></div>
  <div class="col-md-1"><h6>средний контейнер</h6></div>
  <div class="col-md-1"><h6>большой контейнер</h6></div>
  <div class="col-md-1"><h6></h6></div>
  <div class="col-md-1"><h6>Coca-Cola 1 литр</h6></div>
  <div class="col-md-1"><h6>Sprite 1 литр</h6></div>
  <div class="col-md-1"><h6>Fanta 1 литр</h6></div>
  <div class="col-md-1"><h6>Тархун 1 литр</h6></div>
  <div class="col-md-1"><h6>Буратино 1 литр</h6></div>
</div>
<div class="row">
	  <div class="col-md-2"><h6>позвоните, чтобы заказать</h6></div>
	  <div class="col-md-1"><h6>500 тенге</h6></div>
	  <div class="col-md-1"><h6>700 тенге</h6></div>
	  <div class="col-md-1"><h6>900 тенге</h6></div>
	  <div class="col-md-1"><h6></h6></div>
	  <div class="col-md-1"><h6>150 тенге</h6></div>
	  <div class="col-md-1"><h6>150 тенге</h6></div>
	  <div class="col-md-1"><h6>150 тенге</h6></div>
	  <div class="col-md-1"><h6>150 тенге</h6></div>
	  <div class="col-md-1"><h6>150 тенге</h6></div>
</div>
<div class="row">
	  <div class="col-md-2"></div>
	  <div class="col-md-1"><%= image_tag("quan.png") %></div>
	  <div class="col-md-1"><%= image_tag("quan2.png") %></div>
	  <div class="col-md-1"><%= image_tag("quan5.png") %></div>
	  <div class="col-md-1"><h6></h6></div>
	  <div class="col-md-1"><h6><%= image_tag("cola.png") %></h6></div>
	  <div class="col-md-1"><h6><%= image_tag("sprite.png") %></h6></div>
	  <div class="col-md-1"><h6><%= image_tag("fanta.png") %></h6></div>
	  <div class="col-md-1"><h6><%= image_tag("tarhun.png") %></h6></div>
	  <div class="col-md-1"><h6><%= image_tag("buratino.png") %></h6></div>
</div>


<div class="row bg-warning" style="padding-top: 10px;">
  <div class="col-md-2"><h6>шашлык из грибов</h6></div>
  <div class="col-md-1"><h6>маленький контейнер</h6></div>
  <div class="col-md-1"><h6>средний контейнер</h6></div>
  <div class="col-md-1"><h6>большой контейнер</h6></div>
  <div class="col-md-1"><h6></h6></div>
  <div class="col-md-1"><h6>Coca-Cola 1 литр</h6></div>
  <div class="col-md-1"><h6>Sprite 1 литр</h6></div>
  <div class="col-md-1"><h6>Fanta 1 литр</h6></div>
  <div class="col-md-1"><h6>Тархун 1 литр</h6></div>
  <div class="col-md-1"><h6>Буратино 1 литр</h6></div>
</div>
<div class="row bg-warning">
	  <div class="col-md-2"><h6>позвоните, чтобы заказать</h6></div>
	  <div class="col-md-1"><h6>500 тенге</h6></div>
	  <div class="col-md-1"><h6>700 тенге</h6></div>
	  <div class="col-md-1"><h6>900 тенге</h6></div>
	  <div class="col-md-1"><h6></h6></div>
	  <div class="col-md-1"><h6>150 тенге</h6></div>
	  <div class="col-md-1"><h6>150 тенге</h6></div>
	  <div class="col-md-1"><h6>150 тенге</h6></div>
	  <div class="col-md-1"><h6>150 тенге</h6></div>
	  <div class="col-md-1"><h6>150 тенге</h6></div>
</div>
<div class="row bg-warning">
	  <div class="col-md-2"></div>
	  <div class="col-md-1"><%= image_tag("quan.png") %></div>
	  <div class="col-md-1"><%= image_tag("quan2.png") %></div>
	  <div class="col-md-1"><%= image_tag("quan5.png") %></div>
	  <div class="col-md-1"><h6></h6></div>
	  <div class="col-md-1"><h6><%= image_tag("cola.png") %></h6></div>
	  <div class="col-md-1"><h6><%= image_tag("sprite.png") %></h6></div>
	  <div class="col-md-1"><h6><%= image_tag("fanta.png") %></h6></div>
	  <div class="col-md-1"><h6><%= image_tag("tarhun.png") %></h6></div>
	  <div class="col-md-1"><h6><%= image_tag("buratino.png") %></h6></div>
</div>
</div>

